.card-container {
    width: 300px;
    overflow: hidden;
    box-shadow: 1px 3px 5px -1px;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
}

.image-container {
    overflow: hidden;
    height: 200px;
    background-color: lightgrey;
    border-radius: 5px;
}

.card-body {
    font-size: 12px;
}

.card-container:hover {
    background-color: gold;
}